.countryCard {
  width: 266px;
  border-radius: 5px 5px;
  border: 1px solid var(--text-color);

  &__flagLink {
    display: inline-block;
    width: 264px;
  }

  &__flag {
    width: 264px;
    height: 160px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
  }

  &__info {
    padding: 50px 26px;
  }

  &__name {
    display: inline-block;
    font-weight: 800;
    font-size: 20px;  
    margin-bottom: 26px;  
    color: var(--text-color);
  }

  &__about {
    font-size: 17px;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bold {
  font-weight: 600;
}