.header__wrapper {
  box-shadow: var(--shadow);
  margin-bottom: 44px;
}

.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLink {
  font-size: 24px;
  font-weight: 800;
  color: var(--text-color);
}

@media (max-width: 800px) {
  .header__wrapper {
    margin-bottom: 22px;
  }
}

@media (max-width: 544px) {
  .header {
    padding: 20px 0;
  }
}

@media (max-width: 434px) {
  .homeLink {
    font-size: 22px;
  }
}

@media (max-width: 388px) {
  .header__wrapper {
    margin-bottom: 10px;
  }

  .homeLink {
    margin-bottom: 20px;
  }

  .header {
    flex-direction: column;
  }
}
