.header__wrapper {
  box-shadow: var(--shadow);
  margin-bottom: 44px;
}

.header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeLink {
  font-size: 24px;
  font-weight: 800;
  color: var(--text-color);
}
