.country {
  margin-top: 34px;

  &__backLink {
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 12px 32px;
    width: 136px;
    border-radius: 3px;
    border: 1px solid var(--text-color);
    margin-bottom: 106px;
    background-color: transparent;
    font-size: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__arrowBack {
    margin-right: 14px;
  }

  &__countryInfoBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__countryFlagBox {
    max-width: 900px;
    margin-right: 122px;
    border: 1px solid var(--text-color);
  }

  &__countryFlag {
    object-fit: cover;
    width: 564px;
    height: 400px;
  }
}

@media (max-width: 1180px) {
  .country__backLink {
    margin-bottom: 53px;
  }

  .country__countryFlagBox {
    margin-bottom: 30px;
    margin-right: 58px;
  }
}

@media (max-width: 1006px) {
  .country__countryInfoBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .country__countryFlagBox {
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .country__countryFlagBox {
    max-width: 100%;
  }

  .country__countryFlag {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 540px) {
  .country__countryInfoBox {
    align-items: flex-start;
  }
}
