.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  margin-right: 10px;
}